---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Slider from '../components/Slider.astro';
import Button from '../components/Button.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Photograph from '../components/Photograph.astro';
import fediImg from "../img/fedi.jpg";
import corniceFioriImg from "../img/cornice-fiori.png";
import honeyMoonImg from "../img/honey-moon.jpg";
import honeyMoonLeftImg from "../img/honey-moon-left.jpg";
import honeyMoonRightImg from "../img/honey-moon-right.jpg";
import chiesaImg from "../img/chiesa.png";
import ristoranteImg from "../img/ristorante.jpg";
import flowersImg from "../img/flowers2.png";
---

<Layout title="Matrimonio Marco e Katia">
	<main>
		<Slider slides={[
			{imgSrc: "https://www.truephotography.com/blog/wp-content/uploads/2016/03/0053Christy_Stephen_pf.jpg"},
			{imgSrc: "https://www.christianwebhost.com/blog/wp-content/uploads/2019/05/christian-wedding-ceremony.jpeg"},
		]}/>
		<Section id="introduction">
				<div class="col-span-9">
					<SectionTitle>
						Marco e Katia si sposano, finalmente!
					</SectionTitle>
					<p class="mb-3">Eh si’, hai capito bene! E’ arrivato per noi il momento di fare il grande passo e saremo lieti se tu volessi partecipare.</p>
					<p>In questo sito troverai tutte le informazioni importanti e le spiegazioni sull’evento e su come partecipare.</p>
				</div>
				<img src={fediImg.src} class="col-span-3 px-24 md:px-12 pt-4" />
		</Section>
		<Section id="adhesion" bgColor='bg-light-peach'>
			<div class="col-span-4">
				<img src={corniceFioriImg.src} alt="">
			</div>
			<div class="col-span-8">
				<SectionTitle>Facci sapere se ci sarai</SectionTitle>
				<p class="mb-3">Se ti interessa essere dei nostri, blocca subito la data nella tua agenda.</p>
				<p class="mb-3">Puoi confermare la partecipazione compilando un breve form in cui ci fornirai tutte le informazioni che ci servono per organizzare una festa speciale.</p>
				<p class="mb-8">Dopo aver inserito le informazioni richieste, clicca su invia e riceverai una email di risposta con tutte le informazioni su come partecipare al regalo di nozze (se lo vorrai ovviamente).</p>
				<Button>Conferma la tua prenotazione</Button>
			</div>
		</Section>
		<Section id="time-location">
			<div class="col-span-8 pt-6 order-2 md:order-1">
				<SectionTitle>
					La funzione nella chiesa si San Martino
				</SectionTitle>
				<b class="block mb-3">Ore 10:30 - <a class="underline" href="https://www.google.it/maps/place/Chiesa+Parrocchiale+di+San+Martino+Vescovo+-+Pesaro+(citt%C3%A0)/@43.8976383,12.8895736,17z/data=!3m1!4b1!4m6!3m5!1s0x132d1eabe8f7063f:0xb3de8d5e07c58e19!8m2!3d43.8976383!4d12.8921485!16s%2Fg%2F1xtdztt4?entry=ttu"  target="_blank">
					link alla mappa
					</a>
				</b>
				<div class="relative">
					<p class="mb-3">Ci sarà possibilità di parcheggiare proprio davanti alla chiesa oppure nelle vie limitrofe.</p>
					<p>Una volta finita la funzione, gettato il riso (o roba piu’ pesante se vi abbiamo annoiati) e fatte le foto di rito, si passa alla seconda fase: quella divertente!</p>
					<img src={flowersImg.src} alt="" class="w-48 h-48 absolute -left-20 -bottom-20 -z-10 hidden xl:block">
				</div>
			</div>
			<div class="col-span-4 order-1 md:order-2">
				<Photograph src={chiesaImg.src} rotationDirection={"negative"} />
			</div>
			<div class="col-span-4 order-3">
				<Photograph src={ristoranteImg.src} rotationDirection={"positive"} />
			</div>
			<div class="col-span-8 pt-6 order-4">
				<SectionTitle>
					La festa al Perbacco, Country House
				</SectionTitle>
				<b class="block mb-3">Orario 14:00 - <a href="https://www.google.it/maps/place/Perbacco+Country+House+Locanda/@43.744366,13.106211,17z/data=!3m1!4b1!4m6!3m5!1s0x132d0c4617aa13f1:0x3e13845d75003667!8m2!3d43.7443661!4d13.1108244!16s%2Fg%2F1tvrf98c?entry=ttu" class="underline" target="_blank">
						link alla mappa
					</a>
				</b>
				<div class="relative">
					<p>Se ti interessa sapere come si svolgerà l’evento, ti invito a cliccare qui sotto per maggiori informazioni</p>
					<img src={flowersImg.src} alt="" class="w-48 h-48 absolute -right-20 -bottom-20 -z-10 scale-x-[-1] hidden xl:block">
				</div>
			</div>
			<div class="col-span-12 flex justify-center pt-12 order-5">
				<Button>Vai al programma esteso</Button>
			</div>
		</Section>
		<Section id="present" bgColor='bg-light-yellow relative'>
			<div class="col-span-8 order-2 md:order-1">
				<SectionTitle>Cosa ci piacerebbe</SectionTitle>
				<p class="mb-3">Il regalo piu’ grande che puoi farci e’ la tua partecipazione all’evento.</p>
				<p class="mb-3">Se però hai piacere, puoi contribuire al nostro piccolo sogno, regalandoci quello che per noi sarà il viaggio della vita…</p>
				<p class="mb-3">Per la nostra luna di miele ci piacerebbe tanto coronare il nostro sogno di visitare il Giappone. Fin da piccoli, il mondo orientale ci affascina con tutte le loro tradizioni e particolarità che vorremmo scoprire direttamente con i nostri occhi (non solo sui libri e nelle serie tv).</p>
			</div>
			<img src={honeyMoonImg.src} class="col-span-4 mt-[-2.5rem] md:mt-[-5rem] order-1 md:order-2" />
			<img src={honeyMoonLeftImg.src} alt="" class="absolute left-0 bottom-0 w-16 hidden lg:block">
			<img src={honeyMoonRightImg.src} alt="" class="absolute right-0 bottom-0 w-20 hidden lg:block">
		</Section>
	</main>
</Layout>
